Package: enigma2-plugin-extensions-piconcockpit
Version: 5.6.9
Section: misc
Priority: optional
Architecture: all
Maintainer: dream-alpha - Lululla
Description: PiconCockpit
Source: enigma2-plugin-extensions-apsattv
Homepage: *
